In [3]:
# задача 0
numbers = []

while True:
    n = int(input())
    if n == 0:
        break
    numbers += [n] if n > 0 and n % 2 == 0 else []

print(numbers, len(numbers),  sep='\n')

7
6
-1
467
-2
0
[6]
1

In [6]:
#  задача 1
celsius = [0, 15, 25, 30, 40, 100]
fahrenheit = [c * 9/5 + 32 for c in celsius]

print(f"Цельсий:{celsius}\nФаренгейт:{fahrenheit}")

grades = [45, 85, 92, 33, 67, 78, 90, 55, 29, 88]
passed = [g for g in grades if g >= 60]

print(f'''
Все оценки: {grades}
Прошли: {passed}
Количество сдавших: {len(passed)}
''')

Цельсий:[0, 15, 25, 30, 40, 100]
Фаренгейт:[32.0, 59.0, 77.0, 86.0, 104.0, 212.0]

Все оценки: [45, 85, 92, 33, 67, 78, 90, 55, 29, 88]
Прошли: [85, 92, 67, 78, 90, 88]
Количество сдавших: 6

In [9]:
# задача 2
transactions = [100, -50, 200, -30, 150, -20, 300]

taxes = [t * 0.15 for t in transactions if t > 0]

print(f'''
Транзакции: {transactions}
Налоги: {taxes}
''')

Транзакции: [100, -50, 200, -30, 150, -20, 300]
Налоги: [15.0, 30.0, 22.5, 45.0]

In [14]:
# задача 3
products = ['футболка', 'кружка', 'блокнот']
colors = ['красный', 'синий', 'зеленый']

combinations = [f"{product} - {color}" for product in products for color in colors]

for combo in combinations:
  print(combo)

футболка - красный
футболка - синий
футболка - зеленый
кружка - красный
кружка - синий
кружка - зеленый
блокнот - красный
блокнот - синий
блокнот - зеленый

In [22]:
# задача 4
employees = [('Иван', 45), ('Мария', 92), ('Петр', 33), ('Анна', 67)]

for name, score in employees:
    perfomance = ("Отлично" if score >= 90 else
                  "Хорошо" if score >= 60 else
                  "Требует улучшения")
    print(f"{name} ({score}%): {perfomance}")

Иван (45%): Требует улучшения
Мария (92%): Отлично
Петр (33%): Требует улучшения
Анна (67%): Хорошо

In [24]:
# задача 5

sales = [
    {'name': 'Алексей', 'sales': 150, 'returns': 10},
    {'name': 'Ольга', 'sales': 200, 'returns': 5},
    {'name': 'Дмитрий', 'sales': 80, 'returns': 25},
    {'name': 'Елена', 'sales': 300, 'returns': 8}
]

top_managers = [
    sale['name']
    for sale in sales
    if (sale['sales'] - sale['returns']) >= 150 and (sale['returns'] / sale['sales']) * 100 < 10
]

print(top_managers)

['Ольга', 'Елена']